p {
  color: $PRIMARY_COLOR;
}

.title {
  color: $SECONDARY_COLOR;
  opacity: 80%;
}

.account {
  @include initComponent;

  &__container {
    @include initContainer;
    width: 80%;

    .myAccount {
      margin-top: 60px;
    }
  }

  &__top-block {
    margin-top: 60px;
  }

  &__preview {
    box-shadow: 0 0 4px rgba(175, 175, 175, 0.5);
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    .leftBox {
      display: flex;
      align-items: center;
      gap: 35px;
    }

    .logout {
      opacity: 85%;
    }

    .avatar {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      box-shadow: 0 0 10px rgba(126, 126, 126, 0.5);
      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    .info {
      h3 {
        font-size: 19px;
        margin-bottom: 8px;
      }
      h4 {
        font-size: 14px;
        color: $SECONDARY_COLOR;
        opacity: 90%;
      }
    }
  }
  &__presonalInfo {
    display: grid;
    align-items: end;
    padding: 0 80px;
    grid-template-columns: 0.5fr 0.5fr 0.8fr;
    margin-top: 40px;
    box-shadow: 0 0 4px rgba(175, 175, 175, 0.5);
    padding: 20px 30px;
    border-radius: 10px;
  }

  .edit {
    grid-column: 3;
    justify-self: end;
    width: 20%;
    opacity: 85%;
  }

  .name {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    margin-top: 25px;
    gap: 25px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    margin-top: 20px;
    gap: 25px;
  }
  .bio {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    margin-top: 20px;
    gap: 25px;
  }
}

.login {
  @include initComponent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 244, 244);

  &__box {
    width: 1000px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(186, 186, 186, 0.5);
    border-radius: 20px;
    display: flex;
  }
  &__left-side {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    background-color: rgb(255, 255, 255);
  }
  &__right-side {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    background-color: #43adb5;

    .texture {
      width: 100%;
      position: absolute;
      opacity: 12%;
      background-color: #4389b5;
    }
  }

  &__right-side--reset {
    background-color: #9143b5;
  }
  &__left-side-container {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    h3 {
      text-align: center;
      font-size: 25px;
    }
  }
  .login__right-side-imgbox {
    position: relative;
    display: flex;
    width: 70%;
    height: 70%;
    border-radius: 25px;
    border: 1px ridge rgb(201, 233, 239);
    background-color: rgba(116, 192, 195, 0.485); /* пример прозрачности 50% */

    div {
      padding: 15px 15px;
      width: 58%;
    }
    h2 {
      color: white;
    }
    img {
      width: 100%;
      height: 100%;
      z-index: 9;
      margin-left: 30px;
      border-radius: 50px;
      position: absolute;
    }
  }

  .login__right-side-imgbox--reset {
    background-color: rgba(161, 116, 195, 0.485); /* пример прозрачности 50% */
  }

  &__line {
    width: 80%;
    height: 1px;
    background-color: rgb(208, 208, 208);
    margin-top: 25px;

    p {
      width: 20%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: -10px;
      color: rgb(150, 150, 150);
      background-color: rgb(255, 255, 255);
    }
  }
  .registr-button {
    margin-top: 15px;
    font-size: 18px;


    a {
      color: rgb(19, 183, 195);
    }
  }
}
