$li-height: 60px;

.listElement {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: $workspace_column_marking;
  width: 100%;
  height: $li-height;
  background-color: rgb(230, 228, 228);
  border-radius: 5px;
  margin: 5px 0;
  list-style: none;
  box-shadow: 0 0 2px rgba(126, 126, 126, 0.5);

  p {
    grid-row: 1;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-row: 1;
    width: 52px;
    height: $li-height - 10px;

    

    img {
      width: 100%;
      height: 100%;
      border-radius: 60px;
    }
  }

  .checkbox {
    margin-left: 8%;
    grid-column: 1;

    div {
        grid-row: 1;
    }
  }

  .avatar {
    grid-column: 2;
  }

  .name {
    grid-column: 3;
  }

  .created_ad {
    grid-column: 4;
  }

  .email {
    grid-column: 5;
  }

  .country {
    grid-column: 6;
  }
}

.active {
    color: rgb(0, 174, 190) !important;
  }