$BACKGROUND_COLOR: rgb(243, 243, 243);
$PRIMARY_COLOR: rgb(48, 47, 52);
$SECONDARY_COLOR: rgb(106, 105, 107);
$SECONDARY_COLOR_HOVER: rgb(54, 54, 54);
$THIRD_TEXT_COLOR: rgb(237, 237, 237);

$workspace_column_marking: 0.25fr 0.4fr 0.8fr 0.6fr 1fr 0.9fr 0.7fr 0.22fr;